.main {
  min-height: 100vh;
  height: 100%;
}

.form-check-centered {
  margin-left: 5%;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #24e90a;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
